@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";


.logonav {
width: 8rem;
}
h1 {
    display: flex;
    justify-content: center;
 }

button {
 width: 80px; 
 height: 35px;  
 margin: 10px;
 background-color: blue;
}

body {
background-color: grey;
}

.hidden {
    margin-left: 600px;
    }
    #otherImage {
     visibility: hidden;
    }

