@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

// img {
//   display: block;
//   margin: 0 auto;
// }

// body.marvel-Logo {
// visibility: hidden;

// }

.logonav {
width: 8rem;
}

button {
 width: 80px; 
 height: 35px;  
 margin: 10px;
 background-color: blue;
}