#card  {
display: flex;
flex-direction: row;
justify-content: center;
flex-wrap: wrap;
margin: 20px;
max-height: fit-content;
max-width: fit-content;
}

// #card-body {
//     background-color: blue;
// }

// card-body.toggle {
// background-color: deeppink;
// }
.boy {
  background-color: blue;  
}
.girl {
    background-color: deeppink;
}



 